# Eclat

## Importing the libraries

In [ ]:
!pip install apyori
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Importing Dataset

In [ ]:
dataset = pd.read_csv('Netflix Movie Recommendation.csv', header = None)
transactions = []
for i in range(0,7416):
  transactions.append([str(dataset.values[i,j]) for j in range(0, 20)])




## Eclat Training on Dataset

In [ ]:
from apyori import apriori
rules = apriori(transactions = transactions, min_support = 0.003, min_confidence = 0.2,min_lift = 3,min_length = 2)

## Raw Results

In [ ]:
results = list(rules)
results

### Proper Display

In [ ]:
def inspect(results):
    movie_1         = [tuple(result[2][0][0])[0] for result in results]
    movie_2         = [ tuple(result[2][0][1])[0] for result in results]
    supports    = [result[1] for result in results]
    return list(zip(movie_1,movie_2,supports))
resultsinDataFrame = pd.DataFrame(inspect(results), columns = ['Movie_1', 'Movie_2', 'Support'])

In [ ]:
resultsinDataFrame

In [ ]:
resultsinDataFrame.nlargest(n=10,columns = 'Support')

,Movie_1,Movie_2,Support
7,Interstellar,inception,0.015912
49,Interstellar,nan,0.015912
21,The Lord of the Rings: The Fellowship of the Ring,inception,0.008630
90,The Lord of the Rings: The Fellowship of the Ring,nan,0.008630
2,Kanan Gill Comedy,Comedy nights with Kapil,0.008091
27,Kanan Gill Comedy,nan,0.008091
15,The Lord of the rings,Billa,0.007282
32,The Intouchables,Comedy nights with Kapil,0.007282
80,The Lord of the rings,nan,0.007282
101,The Intouchables,nan,0.007282